*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}
#home{
  background: url('./coronabgImg.png');
}
.text-bold{
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 13px;
  color: #ff0024c2;
}
td{
  overflow-wrap: anywhere
}

.react-bootstrap-table{
  width: 85%;
  text-align: center;
}

thead{
  background-color: darkcyan;
  color: aliceblue;
  position: sticky;
}
.table>thead{
  vertical-align: middle;
}
tbody{
  background-color:#9cb2b3bd
}
canvas{
  height: 80%;
  
}
#btnToggle{
  text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
border-radius: 25px;
    background: white;
    color: black;
    font-size: 0.9rem;
    padding: 6px 13px;
}

@media screen and (max-width: 991px) {
  #temp{
    display: none;
  }
}